.common-header {
  display: flex;
  margin-bottom: 20px;
  .common-header-left {
    flex: 1;
  }
  .common-header-right {
    flex: 1;
    text-align: right;
  }
}

.common-content {
  margin-bottom: 20px;
}

.common-footer {
  text-align: center;
}