.canvas{
  min-height: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.component-wrapper {
  margin: 12px;
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 4px;
  &:hover{
    border-color: #007bff;
  }
}
.component {
  pointer-events: none; // 屏蔽鼠标行为，组件不让点击到
}

.selected {
  border-color: #007bff !important;
}